.App {
  background: white;
  margin: 0 auto;
  width: 50%;
}

h1 {
  text-align: center;
}

.keyboard {
  width: 700px;
  margin-top: 70px;
}

.box {
  width: 55px;
  height: 55px;
  border: lightgray 1px solid;
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}

.green {
  background: rgb(106, 170, 100) !important;
  color: white
}

.yellow {
  background: rgb(201, 180, 88);
  color: white
}

.guesses {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  margin: 0 auto;
  width: 50%;
}

.hg-gray {
  background: rgb(120, 124, 126) !important;
}

.hg-yellow {
  background: rgb(201, 180, 88) !important;
}

.hg-green {
  background: rgb(106, 170, 100) !important;
}

