.App {
  background: white;
  margin: 0 auto;
  width: 50%;
}

h1 {
  text-align: center;
}

.keyboard {
  width: 700px;
  margin-top: 20px;
}

.box {
  width: 55px;
  height: 55px;
  border: lightgray 1px solid;
}

.guesses {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  margin: 0 auto;
  width: 50%;
}