.App {
  background: white;
  margin: 0 auto;
  width: 50%;
}

h1 {
  text-align: center;
}

.keyboard {
  width: 700px;
  margin-top: 20px;
}

.box {
  width: 55px;
  height: 55px;
  border: lightgray 1px solid;
}

.guesses {
  display: grid;
  grid: repeat(6, 70px) / auto-flow 65px;
  margin: 0 auto;
  width: 50%;
}